/* custom.css */


.custom-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tab-midset {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 8fr 1fr;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center; /* 确保内容垂直居中 */
}

.center-tabs {
    width: max-content; /* 确保Tabs仅占据必要空间 */
}

.tab-font {
    font-family: 'Comic Neue', sans-serif !important;
    font-size: 18px; /* 自定义字体大小 */
}

.tab-font {
    font-family: 'Comic Neue', sans-serif !important;
}
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.frosted-glass {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2); /* 半透明效果 */
    opacity: 1; /* 整体半透明 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.page-background-container {
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    height: 100%;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flex-container {
    display: flex;
    justify-content: center; /* 居中对齐 */
}

.left, .right {
    flex: 1; /* 左右部分各占1份 */
}

.no-appbar-layout .mud-layout {
    padding-top: 0; /* 取消顶部的空白 */
}

.default-layout .mud-layout {
    padding-top: 64px; /* 或者 AppBar 的高度 */
}




