@page "/"

<PageTitle>Welcome</PageTitle>


<div class="main-container">
    <img src="images/HikiBackGround1.png" style="z-index:0" class="page-welcomeimg" />
    <div class="mid-text-container">
        <FansWebT.Components.MyComponents.ColorTypewriter></FansWebT.Components.MyComponents.ColorTypewriter>
    </div>
    <div class="arrow-container" @onclick="NavigateTo" >
        <div class="arrow"></div>
    </div>
</div>
